<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="card(card)" class="card">
    <div class="card-header">
        <h5 class="card-title m-0">
            <button type="button" class="btn btn-sm btn-outline-primary"
                    data-toggle="modal" data-target="#cardEditModal"
                    th:data-id="${card.getId()}" th:data-title="${card.getTitle()}"
                    th:data-type="${card.getType()}">
                <i class="fas fa-edit"></i>
            </button>
            <span style="margin-left: 10px" th:text="${card.getTitle()}"></span>
        </h5>
    </div>
    <div class="card-body">

        <table th:if="${card.getType == T(org.arlian.site.start.model.card.CardType).TEXT_LINKS}"
               class="table table-borderless table-sm link-table">
            <tbody>
            <tr th:each="link : ${card.getLinks()}">
                <td>
                    <a th:href="${link.getUrl()}" th:text="${link.getTitle()}"></a>
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            style="margin-left:10px"
                            data-toggle="modal" data-target="#linkEditModal"
                            th:data-link-id="${link.getId()}"
                            th:data-title="${link.getTitle()}"
                            th:data-url="${link.getUrl()}">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-toggle="modal" data-target="#linkAddModal"
                            th:data-card-id="${card.getId()}"
                            th:data-order-number="${card.getLinks().size() + 1}">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span style="margin-left: 10px">Add link</span>
                </td>
            </tr>
            </tbody>
        </table>

        <table th:if="${card.getType == T(org.arlian.site.start.model.card.CardType).IMAGE_LINKS}"
               class="table table-borderless table-sm link-table">
            <tbody>
            <tr th:each="link : ${card.getLinks()}">
                <td>
                    <a th:href="${link.getUrl()}" th:title="${link.getTitle()}">
                        <img th:src="'/start/image-link/getImage/' + ${link.getId()}" width="64px">
                    </a>
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            style="margin-left:10px"
                            data-toggle="modal" data-target="#imageLinkEditModal"
                            th:data-link-id="${link.getId()}"
                            th:data-title="${link.getTitle()}"
                            th:data-url="${link.getUrl()}">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-toggle="modal" data-target="#imageLinkAddModal"
                            th:data-card-id="${card.getId()}"
                            th:data-order-number="${card.getLinks().size() + 1}">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span style="margin-left: 10px">Add link</span>
                </td>
            </tr>
        </table>


        <div class="row" th:if="${card.getType == T(org.arlian.site.start.model.card.CardType).PICTURE_WIDGET}">
            <div class="col-md-4">
                <button type="button" class="btn btn-sm btn-primary btn-delete-center-hover"
                        data-toggle="modal" data-target="#pictureAddModal">
                    <i class="fas fa-plus"></i>
                </button>
                <div style="position:absolute;left:0;top:20%;width:100%;text-align:center;font-style:italic">Add picture</div>
            </div>
            <div class="col-md-4" th:each="pictureId : ${pictureIds}" style="text-align:center">
                <button type="button" class="btn btn-sm btn-primary btn-delete-center-hover"
                        data-toggle="modal" data-target="#pictureDeleteModal"
                        th:data-picture-id="${pictureId}">
                    <i class="fas fa-trash"></i>
                </button>
                <img th:src="'/start/picture/getThumbnail/' + ${pictureId}" class="img-fluid picture-thumbnail-image">
            </div>
        </div>

    </div>
</div>
</body>
</html>