<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
    <div th:fragment="card(card)" class="card">
        <div class="card-header">
            <h5 class="card-title m-0" th:text="${card.getTitle()}">card title</h5>
        </div>
        <div class="card-body">

            <table th:if="${card.getType == T(org.arlian.site.start.model.card.CardType).TEXT_LINKS}"
                   class="table table-borderless table-sm link-table">
                <tbody>
                    <tr th:each="link : ${card.getLinks()}">
                        <td>
                            <a th:href="${link.getUrl()}">
                                <div th:text="${link.getTitle()}"></div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div th:if="${card.getType == T(org.arlian.site.start.model.card.CardType).IMAGE_LINKS}" class="row">
                <div th:each="link, linkStat : ${card.getLinks()}"
                     th:class="${(card.getPosition != 1)}
                            ? 'col-2 col-sm-2 col-md-2 col-lg-3 col-xl-2 image-link-col'
                            : 'col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 image-link-col'">
                    <div class="image-link" data-toggle="tooltip" th:title="${link.getTitle()}">
                        <a th:href="${link.getUrl()}">
                            <img th:src="'/start/image-link/get/' + ${link.getId()}" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row" th:if="${card.getType == T(org.arlian.site.start.model.card.CardType).PICTURE_WIDGET}">
                <div class="col-md-6" th:if="${selectedPictureId2 != 0}">
                    <img th:src="'/start/picture/getFullSize/' + ${selectedPictureId1}"
                         class="img-fluid picture-card-image">
                </div>
                <div class="col-md-6 hidden-xs" th:if="${selectedPictureId2 != 0}">
                    <img th:src="'/start/picture/getFullSize/' + ${selectedPictureId2}"
                         class="img-fluid picture-card-image">
                </div>
                <div class="col-md-12" th:if="${selectedPictureId2 == 0}">
                    <img th:if="${selectedPictureId1 != 0}" th:src="'/start/picture/getFullSize/' + ${selectedPictureId1}"
                         class="img-fluid picture-card-image">
                </div>
            </div>
        </div>
    </div>
</body>
</html>