<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/start :: layout (~{::body}, ${pageName}, 'edit', ${pageNames}, ~{::footer})}">
<body>

<!-- Main content -->
<div class="content">
    <div class="row">
        <div class="col-lg-3">
            <div th:each="card : ${leftColumnCards}" th:insert="~{fragments/start/editCard :: card(${card})}"/>
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-toggle="modal" data-target="#cardAddModal"
                            th:data-order-number="${(leftColumnCards.size() == 0)} ? 0 : ${leftColumnCards.get(leftColumnCards.size()-1).getOrderNumber() + 1}"
                            data-position="0">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span style="margin-left: 10px">Add card</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-6">
            <div th:each="card : ${middleColumnCards}" th:insert="~{fragments/start/editCard :: card(${card})}"/>
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-toggle="modal" data-target="#cardAddModal"
                            th:data-order-number="${(middleColumnCards.size() == 0)} ? 0 : ${middleColumnCards.get(middleColumnCards.size()-1).getOrderNumber() + 1}"
                            data-position="1">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span style="margin-left: 10px">Add card</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-3">
            <div th:each="card : ${rightColumnCards}" th:insert="~{fragments/start/editCard :: card(${card})}"/>
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-toggle="modal" data-target="#cardAddModal"
                            th:data-order-number="${(rightColumnCards.size() == 0)} ? 0 : ${rightColumnCards.get(rightColumnCards.size()-1).getOrderNumber() + 1}"
                            data-position="2">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span style="margin-left: 10px">Add card</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.content -->

<!-- Modal for cards  /  EDIT -->
<div class="modal fade" tabindex="-1" role="dialog" id="cardEditModal" aria-labelledby="cardEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cardEditModalLabel">Card editor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" method="post" id="cardDeleteForm" action="/start/card/delete">
                    <input type="hidden" name="cardId">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
                <form role="form" method="post" id="cardEditForm" action="/start/card/update">
                    <input type="hidden" name="cardId">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Card title</label>
                                <input type="text" class="form-control" name="cardTitle">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" style="margin-right:10%" onClick="$('#cardDeleteForm').submit();">Delete card</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onClick="$('#cardUpdateForm').submit();">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- / Modal for cards  -->

<!-- Modal for cards  /  ADD-->
<div class="modal fade" tabindex="-1" role="dialog" id="cardAddModal" aria-labelledby="cardAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cardAddModalLabel">Card editor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" method="post" id="cardAddForm" action="/start/card/add">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="pageId" th:value="${pageId}"/>
                    <input type="hidden" name="orderNumber"/>
                    <input type="hidden" name="position"/>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Card title</label>
                                <input type="text" class="form-control" name="cardTitle">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- select -->
                            <div class="form-group">
                                <label>Type of card</label>
                                <select class="form-control" name="cardType">
                                    <option value="TEXT_LINKS">Textual links</option>
                                    <option value="IMAGE_LINKS">Image links</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onClick="$('#cardAddForm').submit();">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- / Modal for cards  -->

<!-- Modal for links  /  ADD-->
<div class="modal fade" tabindex="-1" role="dialog" id="linkAddModal" aria-labelledby="linkAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkAddModalLabel">Card editor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" method="post" id="linkAddForm" action="/start/link/add">
                    <input type="hidden" name="cardId">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="hidden" name="orderNumber"/>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Link title</label>
                                <input type="text" class="form-control" name="linkTitle">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Link URL</label>
                                <input type="text" class="form-control" name="linkUrl">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onClick="$('#linkAddForm').submit();">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- / Modal for links  -->

</body>


<footer>
    <script type="text/javascript">

        // Update the card edit modal with values from the clicked button
        $('#cardEditModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let modal = $(this);
            modal.find("input[name='cardTitle'").val(button.data('title'));
            modal.find("input[name='cardId'").val(button.data('id'));
        });

        // Update the card add modal with values from the clicked button
        $('#cardAddModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let modal = $(this);
            modal.find("input[name='orderNumber'").val(button.data('order-number'));
            modal.find("input[name='position'").val(button.data('position'));
        });

        // Update the link add modal with values from the clicked button
        $('#linkAddModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let modal = $(this);
            modal.find("input[name='orderNumber'").val(button.data('order-number'));
            modal.find("input[name='cardId'").val(button.data('card-id'));
        });

    </script>
</footer>

</html>
