<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/start :: layout (~{::body}, ${pageName}, 'edit', ${pageNames}, ~{::footer})}">
<body>

<!-- Main content -->
<div class="content">
    <div class="row">
        <div class="col-lg-3">
            <div th:each="card : ${leftColumnCards}" th:insert="~{fragments/start/editCard :: card(${card})}"/>
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-toggle="modal" data-target="#cardAddModal"
                            th:data-order-number="${(leftColumnCards.size() == 0)} ? 0 : ${leftColumnCards.get(leftColumnCards.size()-1).getOrderNumber() + 1}"
                            data-position="0">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span style="margin-left: 10px">Add card</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-6">
            <div th:each="card : ${middleColumnCards}" th:insert="~{fragments/start/editCard :: card(${card})}"/>
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-toggle="modal" data-target="#cardAddModal"
                            th:data-order-number="${(middleColumnCards.size() == 0)} ? 0 : ${middleColumnCards.get(middleColumnCards.size()-1).getOrderNumber() + 1}"
                            data-position="1">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span style="margin-left: 10px">Add card</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-3">
            <div th:each="card : ${rightColumnCards}" th:insert="~{fragments/start/editCard :: card(${card})}"/>
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-sm btn-outline-primary"
                            data-toggle="modal" data-target="#cardAddModal"
                            th:data-order-number="${(rightColumnCards.size() == 0)} ? 0 : ${rightColumnCards.get(rightColumnCards.size()-1).getOrderNumber() + 1}"
                            data-position="2">
                        <i class="fas fa-plus"></i>
                    </button>
                    <span style="margin-left: 10px">Add card</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.content -->

<!-- Modals -->
<div th:replace="fragments/start/cardEditModal :: modal"></div>
<div th:replace="fragments/start/cardAddModal :: modal"></div>
<div th:replace="fragments/start/linkEditModal :: modal"></div>
<div th:replace="fragments/start/linkAddModal :: modal"></div>
<div th:replace="fragments/start/imageLinkAddModal :: modal"></div>
<div th:replace="fragments/start/imageLinkEditModal :: modal"></div>
<div th:replace="fragments/start/pageEditModal :: modal"></div>
<div th:replace="fragments/start/pictureAddModal :: modal"></div>
<div th:replace="fragments/start/pictureDeleteModal :: modal"></div>
<!-- /Modals -->

</body>


<footer>
    <div th:replace="fragments/start/cardEditModal :: script"></div>
    <div th:replace="fragments/start/cardAddModal :: script"></div>
    <div th:replace="fragments/start/linkEditModal :: script"></div>
    <div th:replace="fragments/start/linkAddModal :: script"></div>
    <div th:replace="fragments/start/imageLinkAddModal :: script"></div>
    <div th:replace="fragments/start/imageLinkEditModal :: script"></div>
    <div th:replace="fragments/start/pageEditModal :: script"></div>
    <div th:replace="fragments/start/pictureAddModal :: script"></div>
    <div th:replace="fragments/start/pictureDeleteModal :: script"></div>
</footer>

</html>
