<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/start :: layout (~{::body}, ${pageName}, 'view', ${pageNames}, ~{::footer})}">
<body>

    <!-- Main content -->
    <div class="content">
        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div th:each="card : ${leftColumnCards}" th:insert="~{fragments/start/viewCard :: card(${card})}"/>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-6">
                <div th:each="card : ${middleColumnCards}" th:insert="~{fragments/start/viewCard :: card(${card})}"/>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div th:each="card : ${rightColumnCards}" th:insert="~{fragments/start/viewCard :: card(${card})}"/>
            </div>

        </div>
    </div>


</body>

<footer>
</footer>
</html>
