<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/notLoggedIn :: layout (~{::body}, 'Log in or register')}">
<body>

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Arlian</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">This site is intended for private use by the Arlian community.
            If you have been invited or wish to become a member of this community, use the button below.
                Review the <a href="/privacy">privacy and usage policy</a> before joining.</p>

            <div class="social-auth-links text-center mb-3 info-box">
                <a href="/start" class="btn btn-block">
                    <img th:src="@{/img/btn_google_dark_normal_ios.svg}"
                         style="margin-right:10px;margin-top:3px;" /> Sign in or register using Google
                </a>
            </div>
            <!-- /.social-auth-links -->

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

</body>
</html>
