<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layouts/notLoggedIn :: layout (~{::body}, 'Privacy and Usage Policy')}">
<body>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Privacy and usage policy</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <p>The information you provide will not be sold, nor in any way shared with third parties.
            It is only used to power the services you find here.</p>
        <p>When you log in with your Google account, you're automatically providing some basic information
            such as your name, your email address and your (public) profile picture. </p>
        <p>The services provided here are provided best-effort. They can become unavailable at any time,
            and they can stay unavailable for any length of time. Even indefinitely. Any use is solely
            at your own risk.</p>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        Return to the <a th:href="${(#mvc.url('NLIC#index')).build()}">registration and login page</a>.
    </div>
</div>
<!-- /.card -->

</body>
</html>
